body {
    font-family: Arial, sans-serif;
    text-align: center;
    
    height: 100vh;
    background-color: #f4f4f4; 
}

/* .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 1px;
    text-align: center;
    width: 450px;
} */

 /* h1 {
    text-align: center; 
    margin: 0 auto; 
}  */
hr{
    background-color: black;
    width:500px;
    height:1px;
}

.board, .digits {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
    
}
.tiles:hover{
    background-color:aliceblue;
    transform: scale(1.05);
}
.board{
    /* background-color: aqua; */
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(9 , 1fr);
    grid-template-rows: repeat(9 , 1fr);
    gap: 1px;
}
.tiles{
    background-color: #eeeeee;  
}
body {
    background: url('./imgs/OIP (1).jpeg') no-repeat center center fixed;
    background-size: cover;
}
.selected {
    background-color: rgba(85, 144, 211, 0.307); /* Dark blue */
    color: black;
    transform: scale(1.02);
    transition: background-color 0.3s ease-in-out;
}